
stderr.txt
stdout.txt
SIERRA.COM
SCIV.EXE
RESOURCE.004
RESOURCE.003
RESOURCE.002
MT32.DRV
KQ4SG.DIR
KQ4SG.002
KQ4SG.001
KQ4SG.000
IBMKBD.DRV
EXISTS.COM
EGA320.DRV
debug.bat
ADL.DRV
KQ4SG.003
KQ4SG.005
sciv_000.avi
KQ4SG.004
KQ4SG.006
KQ4SG.007
KQ4SG.008
